
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-image: url(../Assets/Pizza.jpg);
}


header {
  color: whitesmoke;
  background-color: rgb(103, 103, 103);
  text-shadow: 2px 2px 3px black;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  height: 20vh;

}


.container {
  color: whitesmoke;
  width: 75%;
  margin: 10px auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  background-color:rgba(0, 0, 0, 0.496)
}

#home.container * {
  text-align: center;
  width: 60%;
}

.tight {
  padding: 0;
  margin: 0;
}

div #right.head {
  display: flex;
  align-items: center;
  /* border: 2px solid greenyellow; */
  flex-grow: 1;
}

div #left.head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 2px solid greenyellow; */
}

/* div {
  border: 1px solid aqua; 
} */


.main-nav {
  width:100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid black; */
}

form { 
  color: lightgray;
}

input {
  background-color: lightgray;
}

.main-nav * {
  text-decoration: none;
  color: crimson;
  font-weight: bold;
  font-size: 2em;
  padding: 2%;
}

.container input {
  text-align: left;
  margin: 2px;
}

#form.container * {
  width: 95%;
}

#form.container fieldset {
  display: flex;
  
}

#form.container div label.checkbox :first-child {
  width: 12px;
}

#form.container fieldset {
  display: flex;
}

#form.container fieldset div {
  display: flex;
  flex-direction: column;
}

label, legend {
  font-size: small;
}


